<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kapture"
            id="Kapture">
      </category>
      <view
            name="Capture Shortcut"
            inject="true"
            icon="icons/sample.png"
            category="Kapture"
            class="kapture.views.ShortCutCapture"
            id="kapture.views.ShortCutCapture">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="kapture.views.CaptureView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.startup" id="fu" name="Dont">
         
         <startup class="kapture.views.MyStartup" />
   </extension>

</plugin>
