<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kapture"
            id="Kapture">
      </category>
      <view
            name="Capture Shortcut"
            inject="true"
            icon="icons/sample.png"
            category="Kapture"
            class="com.bullraider.kapture.views.ShortCutCapture"
            id="kapture.views.ShortCutCapture">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
          	  id="kapture.views.ShortCutCapture"
               ratio="0.18"
              relative="org.eclipse.ui.views.ContentOutline"
              relationship="top"
              >
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bullraider.kapture.preferences.SamplePreferencePage"
            id="kapture.preferences.SamplePreferencePage"
            name="Kapture Preference">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bullraider.kapture.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
